<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>分布式任务调度中心-主面板</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"/>
    <script>
        layui.use('element', function(){
        });
    </script>
</head>

<body>
<div class="layui-tab-brief main-tab-container">
    <div style="border-bottom: 1px #E2E2E2 solid;padding-bottom: 5px;">
        <span style="margin-left: 10px;font-size: 15px;color: #595959;">
            主面板
        </span>
    </div>
    <div class="layui-tab-content">
        <blockquote class="layui-elem-quote">
            <p>系统信息（版本、操作系统、内存（剩余、使用）、cpu（使用率）、硬盘（剩余、使用）、数据库、redis、mq）</p>
        </blockquote>

        <blockquote class="layui-elem-quote">
            <p>实例监控（响应时间、请求率、pv等）</p>
        </blockquote>

    </div>
</div>
</body>
</html>