<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>任务调度中心-登录</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{layui/css/layui.css}"/>
        <link rel="stylesheet" href="/static/css/global.css" th:href="@{css/global.css}"/>
        <script type="text/javascript" src="/static/layui/layui.js" th:src="@{layui/layui.js}"/>
        <style type="text/css">
            html{background: #f3f3f3;}
        </style>
        <script type="text/javascript">

        </script>
    </head>
    <body>
        <div class="login_page">
            <img class="logo-login" src="/static/images/logo-login.png" th:src="@{images/logo-login.png}" alt="logo"/>
            <h1>欢迎使用任务调度中心</h1>
            <form class="layui-form" th:action="@{/admin/index}" method="post" th:method="post">
                <div class="layui-form-item">
                    <div class="layui-input-inline input-custom-width">
                        <input type="text" name="username" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline input-custom-width">
                        <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline input-custom-width">
                        <input type="text" name="captcha" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                        <div class="captcha"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline input-custom-width">
                      <button class="layui-btn input-custom-width" lay-submit="" lay-filter="login">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>