<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>分布式任务调度中心-添加任务</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"/>
    <script>
        layui.use('form', function(){
            var form = layui.form();
        });
        function save() {
            //todo ajax 提交
        }
    </script>
</head>
<body>
<div class="layui-tab-brief main-tab-container">
    <div style="border-bottom: 1px #E2E2E2 solid;padding-bottom: 5px;">
        <span style="margin-left: 10px;font-size: 15px;color: #595959;">
            调度中心 >
            管理任务 >
            添加任务
        </span>
    </div>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form" th:action="@{save}">
                <div class="layui-form-item">
                    <label class="layui-form-label">JobGroup:</label>
                    <div class="layui-input-block">
                        <input type="text" name="jobGroup" placeholder="JobGroup" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">JobName:</label>
                    <div class="layui-input-block">
                        <input type="text" name="jobName" placeholder="JobName" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Bean/Path:</label>
                    <div class="layui-input-block">
                        <input type="text" name="beanName" placeholder="Bean/Path" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Cron:</label>
                    <div class="layui-input-block">
                        <input type="text" name="cronExpression" placeholder="Cron" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Retry:</label>
                    <div class="layui-input-block">
                        <input type="text" name="retryCount" placeholder="Retry" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Valid:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="valid" lay-skin="switch" checked="checked"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Memo:</label>
                    <div class="layui-input-block">
                        <textarea name="memo" placeholder="Memo" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input  type="button" class="layui-btn" lay-filter="formDemo" value="提交" onclick="save();"/>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

