<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>分布式任务调度中心-管理任务</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"/>

    <script type="text/javascript">
        layui.use('form', function(){
            var form = layui.form();
        });
    </script>
</head>
<body>
<div class="layui-tab-brief main-tab-container">
    <div style="border-bottom: 1px #E2E2E2 solid;padding-bottom: 5px;">
        <span style="margin-left: 10px;font-size: 15px;color: #595959;">
            调度中心 >
            管理任务
        </span>
    </div>
    <div class="layui-tab-content">
        <form class="layui-form">
            Module:
            <div class="layui-input-inline">
                <select name="module">
                    <option value=""></option>
                    <option value="0">co-food</option>
                    <option value="1">co-channel</option>
                    <option value="2">co-user</option>
                </select>
            </div>
            JobGroup:
            <div class="layui-input-inline">
                <input type="text" name="jobGroup" placeholder="JobGroup" class="layui-input"/>
            </div>
            JobName:
            <div class="layui-input-inline">
                <input type="text" name="jobName" placeholder="JobName" class="layui-input"/>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn"  lay-filter="formDemo">Search</button>
                <button type="reset" class="layui-btn layui-btn-primary" onclick="location.href='/task/form'">Add</button>
            </div>
        </form>
        <table class="layui-table" lay-even="">
            <thead>
            <tr>
                <th style="width:20px">No</th>
                <th>Module</th>
                <th>JobGroup</th>
                <th>JobName</th>
                <th>Bean/Path</th>
                <th>Cron</th>
                <th tyle="width:20px">Retry</th>
                <th>CreateTime</th>
                <th tyle="width:20px">Status</th>
                <th>BeginTime</th>
                <th>SendTime</th>
                <th>EndTime</th>
                <th>Valid</th>
                <th tyle="width:20px">Operate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task,obj:${tasks}" th:title="${task.failReason}" style="text-align: center;">
                <td th:text="${obj.count}"></td>
                <td th:text="${task.module}">co-server</td>
                <td th:text="${task.jobGroup}">微餐厅</td>
                <td th:text="${task.jobName}">白名单</td>
                <td th:text="${task.beanName}">com.app.OrderJob</td>
                <td th:text="${task.cronExpression}">0 0/1 * * * ?</td>
                <td th:text="${task.retryCount}">3</td>
                <td th:text="${task.createTime}">2017-09-12 12:12:12</td>
                <td th:text="${task.status}">0</td>
                <td th:text="${task.beginTime}">2017-09-12 12:12:12</td>
                <td th:text="${task.sendTime}">2017-09-12 12:12:12</td>
                <td th:text="${task.endTime}">2017-09-12 12:12:12</td>
                <td th:text="${task.valid}">是</td>
                <td style="text-align: left;">
                    <a th:href="@{/task/form(taskId=${task.id})}"><i class='layui-icon'>&#xe642;</i></a>
                    <a th:href="@{'/task/del/'+${task.id}}"><i class='layui-icon'>&#xe640;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>